
// *, *::after, *::before
//   box-sizing: border-box 

img
  max-width: 100%

body
  +regular
  color: $text-color
  background-color: #fff

a
  text-decoration: none
  color: inherit
  transition-duration: 0.2s
  &:hover
    color: #B68B2E

.content
  position: relative
.page
  padding: 45px 0
  &__title
    color: #38313f
    +bold
    font-size: 18px
    margin-top: 0
    span
      position: relative
      &::after
        content: ""
        display: block
        position: absolute
        right: -3px
        bottom: -2px
        width: 70%
        height: 10px
        background-color: #f9efd8
        z-index: -1
  &__subtitle
    +bold
    color: $text-color
    font-size: 18px
    margin-bottom: 20px
    span
      +light
      font-size: 12px
  &__breadcrumbs
    +regular
    color: #aeaeae
    font-size: 10px
    margin-bottom: 30px
    a:hover
      color: #999999
  &__text
    +regular
    color: $text-color
    font-size: 12px
    line-height: 25px
    p
      margin-top: 0
      margin-bottom: 30px
.error
  border: 1px solid red
  //классы поведения
.rotate 
  transform: scale(1, 0.8) rotate(180deg) !important

// .visible
//   visibility: visible !important
// .invisible
//   visibility: hidden !important


@media (min-width: $md)
  .page
    padding: 55px 0
    &__title
      font-size: 28px
      span
        &::after
          height: 12px
    &__subtitle
      font-size: 18px
      margin-bottom: 30px
    &__breadcrumbs
      margin-bottom: 40px
    &__text
      font-size: 10px
      line-height: 19px
      p
        margin-bottom: 25px
  .content .bg
    position: relative
    &::after
      content: ""
      position: absolute
      width: 100%
      height: calc(100% + 110px)
      top: -55px
      left: 0
      z-index: -1
      background:
        image: url('../img/ellips-brown.png'), url('../img/line-brown_bg.png'), url('../img/line-brown_bg.png'), url('../img/line-brown_bg.png'), url('../img/line-brown_bg.png')
        repeat: no-repeat
        size: 334px 334px, auto 100%, auto 100%, auto 100%, auto 100%
        position: 80% 55px, 15px 0, 33% 0, 66% 0, 100% 0 
@media (min-width: $lg)
  .page
    padding: 80px 0
    &__title
      font-size: 44px
      span
        &::after
          right: -5px
          height: 15px
    &__subtitle
      font-size: 28px
      margin-bottom: 45px
      span
        font-size: 20px
    &__breadcrumbs
      font-size: 14px
      margin-bottom: 60px
    &__text
      font-size: 16px
      line-height: 30px
      p
        margin-bottom: 40px
  .content .bg
    &::after
      top: -80px
      height: calc(100% + 160px)
      background:
        size: 530px 530px, auto 100%, auto 100%, auto 100%, auto 100%    
  .arrow-down
    width: 10px
    height: 10px
    border-width: 5px
