
// *, *::after, *::before
//   box-sizing: border-box 

img
  max-width: 100%

body
  +regular
  color: $text-color
  background-color: #fff

a
  text-decoration: none
  color: inherit

.page
  &__title
    color: #38313f
    +bold
    font-size: 18px
    span
      position: relative
      &::after
        content: ""
        display: block
        position: absolute
        right: -3px
        bottom: -2px
        width: 70%
        height: 10px
        background-color: #f9efd8
        z-index: -1
  &__breadcrumbs
    +regular
    color: #aeaeae
    font-size: 10px

.arrow-down
  display: inline-block
  width: 6px
  height: 6px
  border:
    width: 3px 
    style: solid
    color: transparent
  border-top-color: inherit
  vertical-align: -15%
  


.btn
  display: inline-block
  border: 0
  outline: none
  border-radius: 10px
  background-color: #ffffff 
  padding: 0 14px
  text-align: center
  height: 20px
  +regular
  font-size: 9px
  color: #2a262c
  line-height: 20px
  cursor: pointer
  &:focus
    outline: none
  
@media (min-width: $md)
  .btn
    height: 23px  
    border-radius: 11px
    padding: 0 14px
  .page
    &__title
      font-size: 28px
      span
        &::after
          height: 12px
@media (min-width: $lg)
  .arrow-down
    width: 10px
    height: 10px
    border-width: 5px
  .btn
    height: 35px  
    border-radius: 18px
    padding: 0 25px
  .page
    &__title
      font-size: 44px
      span
        &::after
          right: -5px
          height: 15px
    &__breadcrumbs
      font-size: 14px
