.notfound
  padding: 45px 0
  &-main
    padding: 50px 0
    display: flex
  &__img
    margin-top: 15px

    width: 75px
    height: 95px
  &-info
    margin-left: 30px
    color: #a1a1a1
  &__code
    font-family: 'Times New Roman'
    font-size: 65px
  &__text
    font-size: 13px
    text-transform: uppercase

@media (min-width: $md)
  .notfound
    padding: 55px 0
    &-main
      padding: 80px 0
      position: relative
      &::after
        content: ""
        position: absolute
        width: 334px
        height: 334px
        top: -100px
        left: 315px
        background:
          image: url('../img/ellips_brown.png')
          repeat: no-repeat
          size: 334px 334px
    &__img
      width: 106px
      height: 134px
    &-info
      margin-left: 50px
      width: 236px
    &__code
      font-size: 90px
    &__text
      font-size: 18px
@media (min-width: $lg)
  .notfound
    padding: 85px 0
    &-main
      padding: 130px 0
      &::after
        width: 530px
        height: 530px
        top: -165px
        left: 406px
        background:
          size: 530px 530px     
    &__img
      width: 160px
      height: 212px
    &-info
      margin-left: 75px
      width: 350px
    &__code
      font-size: 130px
    &__text
      font-size: 25px
