@font-face {
  font-family: 'MullerBold';
  src: url('../fonts/mullerbold/MullerBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/mullerbold/MullerBold.otf')  format('opentype'),
	     url('../fonts/mullerbold/MullerBold.woff') format('woff'), url('../fonts/mullerbold/MullerBold.ttf')  format('truetype'), url('../fonts/mullerbold/MullerBold.svg#MullerBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MullerLight';
  src: url('../fonts/mullerlight/MullerLight.eot?#iefix') format('embedded-opentype'),  url('../fonts/mullerlight/MullerLight.otf')  format('opentype'),
	     url('../fonts/mullerlight/MullerLight.woff') format('woff'), url('../fonts/mullerlight/MullerLight.ttf')  format('truetype'), url('../fonts/mullerlight/MullerLight.svg#MullerLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MullerMedium';
  src: url('../fonts/mullermedium/MullerMedium.eot?#iefix') format('embedded-opentype'),  url('../fonts/mullermedium/MullerMedium.otf')  format('opentype'),
	     url('../fonts/mullermedium/MullerMedium.woff') format('woff'), url('../fonts/mullermedium/MullerMedium.ttf')  format('truetype'), url('../fonts/mullermedium/MullerMedium.svg#MullerMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MullerRegular';
  src: url('../fonts/mullerregular/MullerRegular.eot?#iefix') format('embedded-opentype'),  url('../fonts/mullerregular/MullerRegular.otf')  format('opentype'),
	     url('../fonts/mullerregular/MullerRegular.woff') format('woff'), url('../fonts/mullerregular/MullerRegular.ttf')  format('truetype'), url('../fonts/mullerregular/MullerRegular.svg#MullerRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
