@font-face {
  font-family: 'MullerBold';
  src: url("../fonts/mullerbold/MullerBold.eot?#iefix") format("embedded-opentype"), url("../fonts/mullerbold/MullerBold.otf") format("opentype"), url("../fonts/mullerbold/MullerBold.woff") format("woff"), url("../fonts/mullerbold/MullerBold.ttf") format("truetype"), url("../fonts/mullerbold/MullerBold.svg#MullerBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MullerLight';
  src: url("../fonts/mullerlight/MullerLight.eot?#iefix") format("embedded-opentype"), url("../fonts/mullerlight/MullerLight.otf") format("opentype"), url("../fonts/mullerlight/MullerLight.woff") format("woff"), url("../fonts/mullerlight/MullerLight.ttf") format("truetype"), url("../fonts/mullerlight/MullerLight.svg#MullerLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MullerMedium';
  src: url("../fonts/mullermedium/MullerMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/mullermedium/MullerMedium.otf") format("opentype"), url("../fonts/mullermedium/MullerMedium.woff") format("woff"), url("../fonts/mullermedium/MullerMedium.ttf") format("truetype"), url("../fonts/mullermedium/MullerMedium.svg#MullerMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MullerRegular';
  src: url("../fonts/mullerregular/MullerRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/mullerregular/MullerRegular.otf") format("opentype"), url("../fonts/mullerregular/MullerRegular.woff") format("woff"), url("../fonts/mullerregular/MullerRegular.ttf") format("truetype"), url("../fonts/mullerregular/MullerRegular.svg#MullerRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.input {
  height: 37px;
  border: 1px solid #d0aa58;
  outline: none;
  padding: 0 12px;
  font-family: 'MullerRegular';
  color: #333333;
  font-size: 12px;
  line-height: 37px;
}

.btn {
  display: inline-block;
  border: 0;
  outline: none;
  border-radius: 19px;
  background-color: #ceaf6b;
  padding: 0 40px;
  text-align: center;
  height: 38px;
  font-family: "MullerBold";
  font-size: 11px;
  color: #2a262c;
  line-height: 38px;
}

.btn:hover {
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn-o {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 0 14px;
  height: 20px;
  line-height: 20px;
  font-family: 'MullerRegular';
  font-size: 9px;
}

.slick-arrow {
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 2;
}

.slick-arrow:hover {
  cursor: pointer;
}

.slick-arrow-prev {
  background-image: url("../img/arrow-prev.png");
}

.slick-arrow-next {
  background-image: url("../img/arrow-next.png");
}

@media (min-width: 768px) {
  .input {
    height: 28px;
    padding: 0 10px;
    font-size: 10px;
    line-height: 28px;
  }
  .btn {
    height: 38px;
    line-height: 38px;
    border-radius: 19px;
    padding: 0 40px;
    font-size: 12px;
  }
  .btn-o {
    height: 23px;
    line-height: 23px;
    border-radius: 11px;
    padding: 0 14px;
    font-size: 9px;
  }
}

@media (min-width: 992px) {
  .input {
    height: 45px;
    padding: 0 15px;
    font-size: 16px;
    line-height: 45px;
  }
  .btn {
    height: 62px;
    line-height: 62px;
    border-radius: 31px;
    padding: 0 68px;
    font-size: 18px;
  }
  .btn-o {
    height: 35px;
    line-height: 35px;
    border-radius: 18px;
    padding: 0 25px;
    font-size: 14px;
  }
}

.popup {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 249, 237, 0.5);
  z-index: 99;
}

.popup__close {
  position: absolute;
  right: 15px;
  top: 5px;
  width: 11px;
  height: 11px;
  padding: 0;
  font-family: 'MullerLight';
  font-size: 30px;
  color: #ceaf6b;
  cursor: pointer;
}

.popup-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 35px 15px 80px;
  width: 320px;
  -webkit-box-shadow: 1px 1px 32px rgba(81, 51, 20, 0.35);
          box-shadow: 1px 1px 32px rgba(81, 51, 20, 0.35);
  border-radius: 12px;
  background-color: #fefeff;
}

.popup__form {
  text-align: center;
}

.popup__form-wrap {
  width: 100%;
}

.popup__input {
  width: 100%;
  margin-bottom: 13px;
}

.popup__btn {
  margin-bottom: 30px;
}

.popup__warning {
  font-family: 'MullerRegular';
  color: #757475;
  font-size: 8px;
  text-align: center;
}

.popup-success {
  display: none;
}

@media (min-width: 768px) {
  .popup {
    position: fixed;
    height: 100%;
  }
  .popup-wrap {
    height: auto;
    padding: 32px 60px;
    width: 347px;
  }
  .popup__input {
    margin-bottom: 13px;
  }
  .popup__btn {
    margin-bottom: 30px;
  }
}

@media (min-width: 992px) {
  .popup-wrap {
    padding: 50px 90px;
    width: 555px;
  }
  .popup__input {
    margin-bottom: 15px;
  }
  .popup__btn {
    margin-bottom: 40px;
  }
  .popup__warning {
    font-size: 10px;
  }
}

img {
  max-width: 100%;
}

body {
  font-family: 'MullerRegular';
  color: #333333;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.content {
  position: relative;
}

.page {
  padding: 45px 0;
}

.page__title {
  color: #38313f;
  font-family: "MullerBold";
  font-size: 18px;
  margin-top: 0;
}

.page__title span {
  position: relative;
}

.page__title span::after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  bottom: -2px;
  width: 70%;
  height: 10px;
  background-color: #f9efd8;
  z-index: -1;
}

.page__subtitle {
  font-family: "MullerBold";
  color: #333333;
  font-size: 18px;
  margin-bottom: 20px;
}

.page__subtitle span {
  font-family: 'MullerLight';
  font-size: 12px;
}

.page__breadcrumbs {
  font-family: 'MullerRegular';
  color: #aeaeae;
  font-size: 10px;
  margin-bottom: 30px;
}

.page__text {
  font-family: 'MullerRegular';
  color: #333333;
  font-size: 12px;
  line-height: 25px;
}

.page__text p {
  margin-top: 0;
  margin-bottom: 30px;
}

.error {
  color: red;
}

.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (min-width: 768px) {
  .page {
    padding: 55px 0;
  }
  .page__title {
    font-size: 28px;
  }
  .page__title span::after {
    height: 12px;
  }
  .page__subtitle {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .page__breadcrumbs {
    margin-bottom: 40px;
  }
  .page__text {
    font-size: 10px;
    line-height: 19px;
  }
  .page__text p {
    margin-bottom: 25px;
  }
  .content .bg {
    position: relative;
  }
  .content .bg::after {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% + 110px);
    top: -55px;
    left: 0;
    z-index: -1;
    background-image: url("../img/ellips-brown.png"), url("../img/line-brown_bg.png"), url("../img/line-brown_bg.png"), url("../img/line-brown_bg.png"), url("../img/line-brown_bg.png");
    background-repeat: no-repeat;
    background-size: 334px 334px, auto 100%, auto 100%, auto 100%, auto 100%;
    background-position: 80% 55px, 15px 0, 33% 0, 66% 0, 100% 0;
  }
}

@media (min-width: 992px) {
  .page {
    padding: 80px 0;
  }
  .page__title {
    font-size: 44px;
  }
  .page__title span::after {
    right: -5px;
    height: 15px;
  }
  .page__subtitle {
    font-size: 22px;
    margin-bottom: 45px;
  }
  .page__subtitle span {
    font-size: 20px;
  }
  .page__breadcrumbs {
    font-size: 14px;
    margin-bottom: 60px;
  }
  .page__text {
    font-size: 16px;
    line-height: 30px;
  }
  .page__text p {
    margin-bottom: 40px;
  }
  .content .bg::after {
    top: -80px;
    height: calc(100% + 160px);
    background-size: 530px 530px, auto 100%, auto 100%, auto 100%, auto 100%;
  }
  .arrow-down {
    width: 10px;
    height: 10px;
    border-width: 5px;
  }
}

.header {
  position: relative;
  padding: 16px 0;
  background-color: #e9d19c;
}

.header-logo {
  padding-top: 0;
  padding-bottom: 0;
  height: 38px;
}

.header-logo img {
  width: 45px;
  height: 38px;
  -o-object-fit: contain;
     object-fit: contain;
}

.header-callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header-callback__phone {
  display: block;
  font-family: "MullerBold";
  color: #333333;
  font-size: 14px;
  margin-bottom: 5px;
}

.header__toggle-btn {
  margin-left: -15px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.header__toggle-btn:focus {
  outline: none;
}

.header__toggle-elem {
  height: 4px;
  width: 24px;
  margin-bottom: 4px;
  background-color: #333333;
}

.header-navbar__list {
  padding: 30px 0;
  width: 90%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff2d4;
  text-align: left;
}

.header-navbar__item {
  display: block;
  height: 40px;
  width: 100%;
  border-bottom: 2px solid #e9d19c;
  font-family: "MullerBold";
  color: #333333;
  font-size: 14px;
  text-decoration: none;
}

.header-navbar__dropdown {
  display: none;
  width: 100%;
  padding: 20px 15px 50px;
  background-color: #fff2d4;
  z-index: 90;
}

.header-navbar__dropdown-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-navbar__dropdown-item {
  display: block;
  width: 84%;
  padding: 12px 0;
  border-bottom: 1px solid #e9d19c;
}

.header-navbar__dropdown-item a {
  font-family: 'MullerMedium';
  color: #333333;
  font-size: 14px;
}

@media (min-width: 768px) {
  .header-callback {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header-callback__btn {
    font-size: 10px;
  }
  .header-callback__phone {
    display: inline-block;
    font-size: 11px;
    margin-bottom: 0;
    margin-right: 15px;
  }
  .header-navbar__list {
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    width: auto;
  }
  .header-navbar__item {
    width: auto;
    height: auto;
    font-family: 'MullerRegular';
    font-size: 10px;
  }
  .header-navbar__item-arrow {
    display: inline-block;
    width: 6px;
    height: 3px;
    background-repeat: no-repeat;
    background-image: url("../img/nav-arrow-down.png");
    background-position: 0;
    background-size: 6px 3px;
    vertical-align: 2%;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
  }
  .header-navbar__dropdown {
    position: absolute;
    top: 63px;
    left: calc(50% - 188px);
    width: 390px;
    padding: 22px 21px 30px;
  }
  .header-navbar__dropdown-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-navbar__dropdown-item {
    padding: 6px 0;
    width: 153px;
    margin-right: 20px;
  }
  .header-navbar__dropdown-item a {
    font-size: 10px;
  }
}

@media (min-width: 992px) {
  .header-callback__btn {
    font-size: 14px;
  }
  .header-callback__phone {
    font-size: 14px;
  }
  .header-navbar__item {
    font-size: 16px;
  }
  .header-navbar__item-arrow {
    width: 10px;
    height: 5px;
    background-size: 10px 5px;
    vertical-align: 9%;
  }
  .header-navbar__dropdown {
    left: calc(50% - 295px);
    width: 600px;
    padding: 33px 33px 45px;
  }
  .header-navbar__dropdown-item {
    padding: 12px 0;
    width: 242px;
    margin-right: 40px;
  }
  .header-navbar__dropdown-item a {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .header-callback__phone {
    font-size: 18px;
  }
}

.footer {
  background-color: #e9d19c;
  font-family: 'MullerRegular';
  color: #333333;
}

.footer-main {
  padding: 28px 0 20px;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.footer__logo img {
  width: 67px;
  height: 55px;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer-callback {
  margin-left: 30px;
}

.footer-callback__phone {
  display: block;
  font-size: 16px;
  margin-bottom: 7px;
}

.footer-callback__email {
  display: block;
  font-size: 11px;
  margin-bottom: 7px;
}

.footer-callback__address {
  display: block;
  font-size: 11px;
}

.footer__item {
  display: block;
  margin-bottom: 18px;
  font-size: 12px;
}

.footer-copyright {
  padding: 13px 0 18px;
  border-top: 1px solid #cfa74f;
}

.footer-copyright__item {
  font-size: 10px;
  margin-bottom: 10px;
}

.footer-copyright__item strong {
  font-family: "MullerBold";
}

@media (min-width: 768px) {
  .footer {
    background-color: #fff;
    background-image: radial-gradient(ellipse farthest-corner at 10% 90%, #ceaf6b, #fff);
    background-repeat: no-repeat;
  }
  .footer .container {
    position: relative;
    background-image: url("../img/line-white_footer.png"), url("../img/line-white_footer.png"), url("../img/line-white_footer.png");
    background-repeat: no-repeat;
    background-size: auto 100%, auto 100%, auto 100%;
    background-position: 33% 0, 67% 0, 100% 0;
  }
  .footer .container::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: -135px;
    top: 0;
    background-image: url("../img/ellips-white_footer.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 0 0;
  }
  .footer-main {
    padding: 48px 0 7px;
  }
  .footer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 0;
  }
  .footer-callback {
    margin-left: 0;
    margin-top: 15px;
  }
  .footer-callback__phone {
    font-size: 12px;
  }
  .footer-callback__email {
    font-size: 9px;
  }
  .footer-callback__address {
    font-size: 9px;
  }
  .footer__item {
    font-size: 10px;
    margin-bottom: 13px;
  }
  .footer-copyright {
    padding: 14px 0;
  }
  .footer-copyright__item {
    font-size: 8px;
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .footer .container::before {
    left: -226px;
  }
  .footer-main {
    padding: 80px 0 30px;
  }
  .footer__logo img {
    width: 97px;
    height: 82px;
  }
  .footer-callback {
    margin-top: 18px;
  }
  .footer-callback__phone {
    font-size: 18px;
  }
  .footer-callback__email {
    font-size: 14px;
  }
  .footer-callback__address {
    font-size: 14px;
  }
  .footer__item {
    font-size: 16px;
    margin-bottom: 18px;
  }
  .footer-copyright {
    padding: 20px 0;
  }
  .footer-copyright__item {
    font-size: 12px;
  }
}

.notfound {
  padding: 45px 0;
}

.notfound-main {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.notfound__img {
  margin-top: 15px;
  width: 75px;
  height: 95px;
}

.notfound-info {
  margin-left: 30px;
  color: #a1a1a1;
}

.notfound__code {
  font-family: 'Times New Roman';
  font-size: 65px;
}

.notfound__text {
  font-size: 13px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .notfound {
    padding: 55px 0;
  }
  .notfound-main {
    padding: 80px 0;
  }
  .notfound__img {
    width: 106px;
    height: 134px;
  }
  .notfound-info {
    margin-left: 50px;
    width: 236px;
  }
  .notfound__code {
    font-size: 90px;
  }
  .notfound__text {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .notfound {
    padding: 85px 0;
  }
  .notfound-main {
    padding: 130px 0;
  }
  .notfound__img {
    width: 160px;
    height: 212px;
  }
  .notfound-info {
    margin-left: 75px;
    width: 350px;
  }
  .notfound__code {
    font-size: 130px;
  }
  .notfound__text {
    font-size: 25px;
  }
}

.main {
  background-image: url("../img/main/main-bg.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 25% 0;
}

.main-bg {
  padding: 120px 15px 50px;
}

.main__title {
  font-family: 'MullerLight';
  color: #333333;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 20px;
}

.main__title span {
  display: block;
  font-family: 'MullerRegular';
  font-size: 11px;
  text-transform: lowercase;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .main {
    background-position: 50% 0;
  }
  .main-bg {
    padding: 147px 15px 60px;
    background-image: url("../img/ellips-white_main.png"), url("../img/line-white_main.png"), url("../img/line-white_main.png"), url("../img/line-white_main.png"), url("../img/line-white_main.png"), url("../img/line-white-hor_main.png");
    background-repeat: no-repeat;
    background-size: 334px, auto 100%, auto 100%, auto 100%, auto 100%, auto;
    background-position: 80% 45px, 15px 0, 33% 0, 67% 0, 100% 0, 80% 218px;
  }
  .main__title {
    font-size: 36px;
    margin-bottom: 30px;
  }
  .main__title span {
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  .main-bg {
    padding: 237px 15px 87px;
    background-size: 518px, auto 100%, auto 100%, auto 100%, auto 100%, auto;
    background-position: 89% 71px, 15px 0, 33% 0, 69% 0, 100% 0, 80% 343px;
  }
  .main__title {
    font-size: 60px;
    margin-bottom: 46px;
  }
  .main__title span {
    font-size: 18px;
  }
}

.advanges {
  padding: 20px 0;
}

.advanges__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-cards: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 25px;
}

.advanges__card:last-of-type {
  margin-bottom: 10px;
}

.advanges__card-img {
  margin-right: 20px;
}

.advanges__card-img img {
  width: 49px;
}

.advanges__card-text {
  font-family: 'MullerRegular';
  color: #38313f;
  font-size: 12px;
}

.advanges-about {
  padding: 0;
}

.advanges-about__text {
  font-family: 'MullerRegular';
  color: #38313f;
  font-size: 12px;
}

@media (min-width: 768px) {
  .advanges {
    padding: 50px 0 70px;
    background-repeat: no-repeat;
    background-image: url("../img/ellips-gray.png"), url("../img/ellips-gray.png"), url("../img/main/shadow-bg.png");
    background-size: 334px, 334px, 190px auto;
    background-position: calc(50% - 330px) 20px, calc(50% + 350px) 170px, calc(50% + 45px) 170px;
  }
  .advanges__cards {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .advanges__card {
    margin-bottom: 0;
  }
  .advanges__card-img {
    margin-right: 15px;
  }
  .advanges__card-img img {
    width: 33px;
  }
  .advanges__card-text {
    width: 115px;
    font-size: 10px;
  }
  .advanges-about {
    font-size: 10px;
    line-height: 19px;
  }
  .advanges-about__img {
    position: relative;
  }
  .advanges-about__img img {
    width: 287px;
  }
  .advanges-about__logo {
    position: absolute;
    top: -70px;
    left: 115px;
    width: 63px;
  }
}

@media (min-width: 992px) {
  .advanges {
    padding: 80px 0 110px;
    background-size: 530px, 530px, 250px auto;
    background-position: calc(50% - 500px) 40px, calc(50% + 500px) 260px, calc(50% + 45px) 350px;
  }
  .advanges__cards {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .advanges__card-img img {
    width: 52px;
  }
  .advanges__card-text {
    width: 180px;
    font-size: 16px;
  }
  .advanges-about {
    font-size: 16px;
    line-height: 30px;
  }
  .advanges-about__img img {
    width: 460px;
  }
  .advanges-about__logo {
    top: -70px;
    left: 115px;
    width: 100px;
  }
}

.presents__cards {
  margin: 10px 0;
}

.presents__card {
  margin-bottom: 25px;
  text-align: center;
}

.presents__card:hover .presents__card-url {
  height: 100%;
}

.presents__card-url {
  position: absolute;
  z-index: 1;
  display: block;
  height: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ceaf6b), to(rgba(206, 175, 107, 0)));
  background-image: linear-gradient(to top, #ceaf6b, rgba(206, 175, 107, 0));
}

.presents__card-img {
  width: 130px;
  height: 99px;
  text-align: center;
  position: relative;
  margin-bottom: 9px;
  margin-left: auto;
  margin-right: auto;
}

.presents__card-img img {
  width: 130px;
  height: 99px;
  -o-object-fit: cover;
     object-fit: cover;
}

.presents__card-title {
  display: block;
  font-family: 'MullerRegular';
  color: #333333;
  font-size: 11px;
}

.presents__slider {
  margin: 30px 0;
  padding: 0 36px;
}

.presents__slider-item-url {
  position: absolute;
  z-index: 1;
  display: block;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
}

.presents__slider-item-img {
  width: 215px;
  height: 163px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  position: relative;
}

.presents__slider-item-img img {
  width: 215px;
  height: 163px;
  -o-object-fit: cover;
     object-fit: cover;
}

.presents__slider-item-text {
  width: 215px;
  margin-left: auto;
  margin-right: auto;
}

.presents__slider-item-title {
  display: block;
  font-family: 'MullerMedium';
  color: #333333;
  font-size: 18px;
  line-height: 30px;
}

.presents__slider-item-price {
  display: block;
  font-family: 'MullerLight';
  color: #858585;
  font-size: 14px;
  line-height: 30px;
}

.presents-news__item {
  margin-bottom: 37px;
}

.presents-news__item-date {
  font-family: 'MullerLight';
  color: #858585;
  font-size: 12px;
}

.presents-news__item-title {
  font-family: 'MullerMedium';
  color: #333333;
  font-size: 14px;
}

.presents-news__item-text {
  font-family: 'MullerLight';
  color: #333333;
  font-size: 12px;
  line-height: 1.5;
}

.presents__arrow {
  top: 60px;
  width: 21px;
  height: 37px;
  background-size: 21px 37px;
}

.presents__arrow-prev {
  left: 0;
}

.presents__arrow-next {
  right: 0;
}

@media (min-width: 768px) {
  .presents__cards {
    margin: 20px 0;
  }
  .presents__card {
    margin-bottom: 0;
  }
  .presents__card-img {
    width: 157px;
    height: 126px;
  }
  .presents__card-img img {
    width: 157px;
    height: 126px;
  }
  .presents__card-img-add {
    width: 96px;
    height: 104px;
  }
  .presents__card-img-add img {
    width: 96px;
    height: 104px;
  }
  .presents__card-title {
    font-size: 10px;
  }
  .presents__slider {
    padding: 0;
  }
  .presents__slider-item-img {
    width: 158px;
    height: 126px;
    margin-bottom: 15px;
  }
  .presents__slider-item-img img {
    width: 158px;
    height: 126px;
  }
  .presents__slider-item-text {
    width: 158px;
  }
  .presents__slider-item-title {
    font-size: 12px;
    line-height: 19px;
  }
  .presents__slider-item-price {
    font-size: 9px;
    line-height: 19px;
  }
  .presents__arrow {
    top: -55px;
    left: auto;
    width: 14px;
    height: 25px;
    background-size: 14px 25px;
  }
  .presents__arrow-prev {
    right: 35px;
  }
  .presents__arrow-next {
    right: 0;
  }
}

@media (min-width: 992px) {
  .presents__cards {
    margin: 35px 0;
  }
  .presents__card-img {
    width: 230px;
    height: 200px;
  }
  .presents__card-img img {
    width: 230px;
    height: 200px;
  }
  .presents__card-img-add {
    width: 96px;
    height: 104px;
  }
  .presents__card-img-add img {
    width: 96px;
    height: 104px;
  }
  .presents__card-title {
    font-size: 16px;
  }
  .presents__slider {
    margin: 50px 0;
  }
  .presents__slider-item-img {
    width: 230px;
    height: 200px;
  }
  .presents__slider-item-img img {
    width: 230px;
    height: 200px;
  }
  .presents__slider-item-text {
    width: 230px;
  }
  .presents__slider-item-title {
    font-size: 18px;
    line-height: 30px;
  }
  .presents__slider-item-price {
    font-size: 14px;
    line-height: 30px;
  }
  .presents__arrow {
    top: -55px;
    left: auto;
    width: 21px;
    height: 37px;
    background-size: 21px 37px;
  }
  .presents__arrow-prev {
    right: 95px;
  }
  .presents__arrow-next {
    right: 30px;
  }
}

#contact_map {
  height: 335px;
  width: 100%;
  margin-bottom: 20px;
}

.contacts__item, .contacts__item a {
  font-family: 'MullerRegular';
  color: #333333;
  font-size: 12px;
  line-height: 25px;
}

.contacts__item p, .contacts__item a p {
  margin: 0;
}

@media (min-width: 768px) {
  #contact_map {
    height: 211px;
    margin-bottom: 30px;
  }
  .contacts__item, .contacts__item a {
    font-size: 10px;
    line-height: 16px;
  }
}

@media (min-width: 992px) {
  #contact_map {
    height: 335px;
    margin-bottom: 50px;
  }
  .contacts__item, .contacts__item a {
    font-size: 16px;
    line-height: 25px;
  }
}

.catalogs__subtitle {
  font-family: "MullerBold";
  color: #aeaeae;
  font-size: 12px;
  margin-top: 0;
}

.catalogs__text {
  color: #333333;
  font-family: 'MullerRegular';
  font-size: 9px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.catalogs__items {
  margin-bottom: 30px;
}

.catalogs__item {
  display: block;
  font-family: 'MullerMedium';
  color: #333333;
  font-size: 10px;
  line-height: 2.5;
}

.catalogs-news__item {
  margin-bottom: 20px;
}

.catalogs-news__item-date {
  font-family: 'MullerLight';
  color: #858585;
  font-size: 8px;
  line-height: 1.5;
}

.catalogs-news__item-title {
  font-family: 'MullerMedium';
  color: #333333;
  font-size: 10px;
}

.catalogs-news__item-text {
  font-family: 'MullerLight';
  color: #333333;
  font-size: 9px;
  line-height: 1.5;
}

.catalogs-products__item {
  margin-bottom: 25px;
}

.catalogs-products__item-url {
  position: absolute;
  z-index: 1;
  display: block;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.catalogs-products__item-img {
  width: 131px;
  height: 102px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  position: relative;
}

.catalogs-products__item-img img {
  width: 131px;
  height: 102px;
  -o-object-fit: cover;
     object-fit: cover;
}

.catalogs-products__item-text {
  width: 131px;
  margin-left: auto;
  margin-right: auto;
}

.catalogs-products__item-title {
  display: block;
  font-family: 'MullerMedium';
  color: #333333;
  font-size: 10px;
  line-height: 1.5;
}

.catalogs-products__item-price {
  display: block;
  font-family: 'MullerLight';
  color: #858585;
  font-size: 8px;
  line-height: 2;
}

@media (min-width: 768px) {
  .catalogs-products__item {
    margin-bottom: 45px;
  }
  .catalogs-products__item-img {
    width: 159px;
    height: 126px;
    margin-bottom: 10px;
  }
  .catalogs-products__item-img img {
    width: 159px;
    height: 126px;
  }
  .catalogs-products__item-text {
    width: 159px;
  }
  .catalogs-products__item-title {
    font-size: 12px;
  }
  .catalogs-products__item-price {
    font-size: 9px;
  }
}

@media (min-width: 992px) {
  .catalogs__subtitle {
    font-size: 20px;
  }
  .catalogs__text {
    font-size: 14px;
    margin-bottom: 40px;
  }
  .catalogs__items {
    margin-bottom: 45px;
  }
  .catalogs__item {
    font-size: 16px;
  }
  .catalogs-news__item {
    margin-bottom: 30px;
  }
  .catalogs-news__item-date {
    font-size: 12px;
  }
  .catalogs-news__item-title {
    font-size: 16px;
  }
  .catalogs-news__item-text {
    font-size: 14px;
  }
  .catalogs-products__item {
    margin-bottom: 45px;
  }
  .catalogs-products__item-img {
    width: 210px;
    height: 180px;
    margin-bottom: 17px;
  }
  .catalogs-products__item-img img {
    width: 210px;
    height: 180px;
  }
  .catalogs-products__item-text {
    width: 210px;
  }
  .catalogs-products__item-title {
    font-size: 18px;
  }
  .catalogs-products__item-price {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .catalogs-products__item {
    margin-bottom: 45px;
  }
  .catalogs-products__item-img {
    width: 263px;
    height: 200px;
    margin-bottom: 17px;
  }
  .catalogs-products__item-img img {
    width: 263px;
    height: 200px;
  }
  .catalogs-products__item-text {
    width: 263px;
  }
  .catalogs-products__item-title {
    font-size: 18px;
  }
  .catalogs-products__item-price {
    font-size: 14px;
  }
}

.products-sliders {
  margin-bottom: 20px;
}

.products-sliders-main__item {
  width: 100%;
}

.products-sliders-nav {
  padding: 0 20px;
}

.products__subtitle {
  font-family: "MullerBold";
  color: #aeaeae;
  font-size: 14px;
  margin-top: 0;
}

.products__text {
  margin-bottom: 30px;
}

.products-price {
  font-family: "MullerBold";
  color: #333333;
  font-size: 14px;
  margin-bottom: 15px;
}

.products-price__price {
  display: inline-block;
  background-color: #ff4646;
  padding: 10px 30px;
  font-family: "MullerBold";
  color: #ffffff;
  font-size: 16px;
}

.products__arrow {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15px;
  height: 27px;
  background-size: 15px 27px;
}

.products__arrow-prev {
  left: 15px;
}

.products__arrow-next {
  right: 15px;
}

@media (min-width: 768px) {
  .products__arrow-prev {
    left: 0;
  }
  .products__arrow-next {
    right: 0;
  }
}

@media (min-width: 992px) {
  .products__arrow {
    width: 20px;
    height: 39px;
    background-size: 20px 39px;
  }
}
/*# sourceMappingURL=style.css.map */