@font-face {
  font-family: 'MullerBold';
  src: url("../fonts/mullerbold/MullerBold.eot?#iefix") format("embedded-opentype"), url("../fonts/mullerbold/MullerBold.otf") format("opentype"), url("../fonts/mullerbold/MullerBold.woff") format("woff"), url("../fonts/mullerbold/MullerBold.ttf") format("truetype"), url("../fonts/mullerbold/MullerBold.svg#MullerBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MullerLight';
  src: url("../fonts/mullerlight/MullerLight.eot?#iefix") format("embedded-opentype"), url("../fonts/mullerlight/MullerLight.otf") format("opentype"), url("../fonts/mullerlight/MullerLight.woff") format("woff"), url("../fonts/mullerlight/MullerLight.ttf") format("truetype"), url("../fonts/mullerlight/MullerLight.svg#MullerLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MullerMedium';
  src: url("../fonts/mullermedium/MullerMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/mullermedium/MullerMedium.otf") format("opentype"), url("../fonts/mullermedium/MullerMedium.woff") format("woff"), url("../fonts/mullermedium/MullerMedium.ttf") format("truetype"), url("../fonts/mullermedium/MullerMedium.svg#MullerMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MullerRegular';
  src: url("../fonts/mullerregular/MullerRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/mullerregular/MullerRegular.otf") format("opentype"), url("../fonts/mullerregular/MullerRegular.woff") format("woff"), url("../fonts/mullerregular/MullerRegular.ttf") format("truetype"), url("../fonts/mullerregular/MullerRegular.svg#MullerRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

img {
  max-width: 100%;
}

body {
  font-family: 'MullerRegular';
  color: #333333;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

.page {
  padding: 45px 0;
}

.page__title {
  color: #38313f;
  font-family: "MullerBold";
  font-size: 18px;
  margin-top: 0;
}

.page__title span {
  position: relative;
}

.page__title span::after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  bottom: -2px;
  width: 70%;
  height: 10px;
  background-color: #f9efd8;
  z-index: -1;
}

.page__subtitle {
  font-family: "MullerBold";
  color: #333333;
  font-size: 18px;
  margin-bottom: 20px;
}

.page__breadcrumbs {
  font-family: 'MullerRegular';
  color: #aeaeae;
  font-size: 10px;
  margin-bottom: 30px;
}

.page__text {
  font-family: 'MullerRegular';
  color: #333333;
  font-size: 12px;
  line-height: 25px;
}

.page__text p {
  margin-top: 0;
  margin-bottom: 30px;
}

.arrow-down {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-width: 3px;
  border-style: solid;
  border-color: transparent;
  border-top-color: inherit;
  vertical-align: -15%;
}

.btn {
  display: inline-block;
  border: 0;
  outline: none;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 0 14px;
  text-align: center;
  height: 20px;
  font-family: 'MullerRegular';
  font-size: 9px;
  color: #2a262c;
  line-height: 20px;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

@media (min-width: 768px) {
  .btn {
    height: 23px;
    border-radius: 11px;
    padding: 0 14px;
  }
  .page {
    padding: 55px 0;
  }
  .page__title {
    font-size: 28px;
  }
  .page__title span::after {
    height: 12px;
  }
  .page__subtitle {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .page__breadcrumbs {
    margin-bottom: 40px;
  }
  .page__text {
    font-size: 10px;
    line-height: 19px;
  }
  .page__text p {
    margin-bottom: 25px;
  }
  .content .bg {
    position: relative;
  }
  .content .bg::after {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% + 110px);
    top: -55px;
    left: 0;
    z-index: -1;
    background-image: url("../img/ellips_brown.png"), url("../img/line_bg.png"), url("../img/line_bg.png"), url("../img/line_bg.png"), url("../img/line_bg.png");
    background-repeat: no-repeat;
    background-size: 334px 334px, auto 100%, auto 100%, auto 100%, auto 100%;
    background-position: 80% 55px, 15px 0, 33% 0, 66% 0, 100% 0;
  }
}

@media (min-width: 992px) {
  .btn {
    height: 35px;
    border-radius: 18px;
    padding: 0 25px;
  }
  .page {
    padding: 80px 0;
  }
  .page__title {
    font-size: 44px;
  }
  .page__title span::after {
    right: -5px;
    height: 15px;
  }
  .page__subtitle {
    font-size: 22px;
    margin-bottom: 45px;
  }
  .page__breadcrumbs {
    font-size: 14px;
    margin-bottom: 60px;
  }
  .page__text {
    font-size: 16px;
    line-height: 30px;
  }
  .page__text p {
    margin-bottom: 40px;
  }
  .content .bg::after {
    top: -80px;
    height: calc(100% + 160px);
    background-size: 530px 530px, auto 100%, auto 100%, auto 100%, auto 100%;
  }
  .arrow-down {
    width: 10px;
    height: 10px;
    border-width: 5px;
  }
}

.header {
  padding: 16px 0;
  background-color: #e9d19c;
}

.header-logo {
  padding-top: 0;
  padding-bottom: 0;
  height: 38px;
}

.header-logo img {
  width: 45px;
  height: 38px;
  -o-object-fit: contain;
     object-fit: contain;
}

.header-callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header-callback__phone {
  display: block;
  font-family: "MullerBold";
  color: #333333;
  font-size: 14px;
  margin-bottom: 5px;
}

.header__toggle-btn {
  margin-left: -15px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.header__toggle-btn:focus {
  outline: none;
}

.header__toggle-elem {
  height: 4px;
  width: 24px;
  margin-bottom: 4px;
  background-color: #333333;
}

.header-navbar__list {
  padding: 30px 0;
  width: 90%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff2d4;
  text-align: left;
}

.header-navbar__item {
  display: block;
  height: 40px;
  width: 100%;
  border-bottom: 2px solid #e9d19c;
  font-family: "MullerBold";
  color: #333333;
  font-size: 14px;
  text-decoration: none;
}

@media (min-width: 768px) {
  .header-callback {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header-callback__btn {
    font-size: 10px;
  }
  .header-callback__phone {
    display: inline-block;
    font-size: 11px;
    margin-bottom: 0;
    margin-right: 15px;
  }
  .header-navbar__list {
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    width: auto;
  }
  .header-navbar__item {
    width: auto;
    height: auto;
    font-family: 'MullerRegular';
    font-size: 10px;
  }
}

@media (min-width: 992px) {
  .header-callback__btn {
    font-size: 14px;
  }
  .header-callback__phone {
    font-size: 14px;
  }
  .header-navbar__item {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .header-callback__phone {
    font-size: 18px;
  }
}

.footer {
  background-color: #e9d19c;
  font-family: 'MullerRegular';
  color: #333333;
}

.footer-main {
  padding: 28px 0 20px;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.footer__logo img {
  width: 67px;
  height: 55px;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer-callback {
  margin-left: 30px;
}

.footer-callback__phone {
  display: block;
  font-size: 16px;
  margin-bottom: 7px;
}

.footer-callback__email {
  display: block;
  font-size: 11px;
  margin-bottom: 7px;
}

.footer-callback__address {
  display: block;
  font-size: 11px;
}

.footer__item {
  display: block;
  margin-bottom: 18px;
  font-size: 12px;
}

.footer-copyright {
  padding: 13px 0 18px;
  border-top: 1px solid #cfa74f;
}

.footer-copyright__item {
  font-size: 10px;
  margin-bottom: 10px;
}

.footer-copyright__item strong {
  font-family: "MullerBold";
}

@media (min-width: 768px) {
  .footer {
    background-color: #fff;
    background-image: radial-gradient(ellipse farthest-corner at 10% 90%, #ceaf6b, #fff);
    background-repeat: no-repeat;
  }
  .footer .container {
    position: relative;
    background-image: url("../img/line_white.png"), url("../img/line_white.png"), url("../img/line_white.png");
    background-repeat: no-repeat;
    background-size: auto 100%, auto 100%, auto 100%;
    background-position: 33% 0, 66% 0, 100% 0;
  }
  .footer .container::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: -135px;
    top: 0;
    background-image: url("../img/ellips_bg.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 0 0;
  }
  .footer-main {
    padding: 48px 0 7px;
  }
  .footer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 0;
  }
  .footer-callback {
    margin-left: 0;
    margin-top: 15px;
  }
  .footer-callback__phone {
    font-size: 12px;
  }
  .footer-callback__email {
    font-size: 9px;
  }
  .footer-callback__address {
    font-size: 9px;
  }
  .footer__item {
    font-size: 10px;
    margin-bottom: 13px;
  }
  .footer-copyright {
    padding: 14px 0;
  }
  .footer-copyright__item {
    font-size: 8px;
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .footer .container::before {
    left: -226px;
  }
  .footer-main {
    padding: 80px 0 30px;
  }
  .footer__logo img {
    width: 97px;
    height: 82px;
  }
  .footer-callback {
    margin-top: 18px;
  }
  .footer-callback__phone {
    font-size: 18px;
  }
  .footer-callback__email {
    font-size: 14px;
  }
  .footer-callback__address {
    font-size: 14px;
  }
  .footer__item {
    font-size: 16px;
    margin-bottom: 18px;
  }
  .footer-copyright {
    padding: 20px 0;
  }
  .footer-copyright__item {
    font-size: 12px;
  }
}

.notfound {
  padding: 45px 0;
}

.notfound-main {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.notfound__img {
  margin-top: 15px;
  width: 75px;
  height: 95px;
}

.notfound-info {
  margin-left: 30px;
  color: #a1a1a1;
}

.notfound__code {
  font-family: 'Times New Roman';
  font-size: 65px;
}

.notfound__text {
  font-size: 13px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .notfound {
    padding: 55px 0;
  }
  .notfound-main {
    padding: 80px 0;
  }
  .notfound__img {
    width: 106px;
    height: 134px;
  }
  .notfound-info {
    margin-left: 50px;
    width: 236px;
  }
  .notfound__code {
    font-size: 90px;
  }
  .notfound__text {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .notfound {
    padding: 85px 0;
  }
  .notfound-main {
    padding: 130px 0;
  }
  .notfound__img {
    width: 160px;
    height: 212px;
  }
  .notfound-info {
    margin-left: 75px;
    width: 350px;
  }
  .notfound__code {
    font-size: 130px;
  }
  .notfound__text {
    font-size: 25px;
  }
}

#contact_map {
  height: 335px;
  width: 100%;
  margin-bottom: 20px;
}

.contacts__item, .contacts__item a {
  font-family: 'MullerRegular';
  color: #333333;
  font-size: 12px;
  line-height: 25px;
}

.contacts__item p, .contacts__item a p {
  margin: 0;
}

@media (min-width: 768px) {
  #contact_map {
    height: 211px;
    margin-bottom: 30px;
  }
  .contacts__item, .contacts__item a {
    font-size: 10px;
    line-height: 16px;
  }
}

@media (min-width: 992px) {
  #contact_map {
    height: 335px;
    margin-bottom: 50px;
  }
  .contacts__item, .contacts__item a {
    font-size: 16px;
    line-height: 25px;
  }
}
/*# sourceMappingURL=style.css.map */