.presents
  &__cards
    margin: 10px 0
    +catalogs__item(25px, 9px, 130px, 99px, 11px)
    &-add
      +catalogs__item(25px, 9px, 130px, 99px, 11px)
  
  &__slider
    margin: 30px 0
    padding: 0 36px
    +products__item(0, 15px, 215px, 163px, 18px, 14px, false)
  
  &-news
    +news__item(37px, 12px, 14px, 12px)
  &__arrow
    top: 60px
    width: 21px
    height: 37px
    background-size: 21px 37px
    &-prev
      left: 0
    &-next
      right: 0
@media (min-width: $md)
  .presents
    &__cards
      margin: 20px 0
      +catalogs__item-m(25px, 9px, 157px, 126px, 10px)
      &-add
        +catalogs__item-m(25px, 9px, 96px, 104px, 10px)
    &__slider
      padding: 0
      +products__item-m(45px,10px,170px, 126px, 12px, 9px)
      .products__item
        margin-right: 5px
    &__arrow
      top: -55px
      left: auto
      width: 14px
      height: 25px
      background: 
        size: 14px 25px
      &-prev
        right: 35px
      &-next
        right: 0

@media (min-width: $lg)
  .presents
    &__cards
      margin: 35px 0
      +catalogs__item-m(30px, 9px, 230px, 200px, 16px)
      &-add
        +catalogs__item-m(30px, 9px, 96px, 104px, 16px)
    &__slider
      margin: 50px 0
      +products__item-m(45px,10px,230px, 200px, 18px, 14px)
      .products__item
        margin-right: 0      
    &__arrow
      top: -55px
      left: auto
      width: 21px
      height: 37px
      background: 
        size: 21px 37px
      &-prev
        right: 95px
      &-next
        right: 30px
@media (min-width: $xl)
  .presents
    &__cards
      +catalogs__item-m(30px, 9px, 250px, 200px, 16px)
      &-add
        +catalogs__item-m(30px, 9px, 140px, 140px, 16px)
    &__slider      
      +products__item-m(45px,10px,275px, 200px, 18px, 14px)


